<div class="form-group detail-form">
  <label for="title" class="col-sm-2 control-label">Title</label>
  <div class="col-sm-10">
    <input type="text" ng-model="page.title" class="form-control" id="title" placeholder="Page Title Here"/>
  </div>
</div>
<div class="form-group">
  <label for="id" class="col-sm-2 control-label">Id</label>
  <div class="col-sm-10">
    <input type="text" ng-model="page.id" class="form-control" id="id" placeholder="Page id"/>
  </div>
</div>
<div class="form-group">
  <label for="description" class="col-sm-2 control-label">Page description</label>
  <div class="col-sm-10">
    <input type="text" ng-model="page.description" class="form-control" id="description" placeholder="Page description"/>
  </div>
</div>
<div class="form-group">
  <label for="plot" class="col-sm-2 control-label">Page's Type</label>
  <div class="col-sm-10">
    <input type="text" ng-model="page.type" class="form-control" id="plot" placeholder="Page's Type"/>
  </div>
</div>
<div class="form-group">
  <label for="plot" class="col-sm-2 control-label">isActive</label>
  <div class="col-sm-10">
    <input type="text" ng-model="page.isActive" class="form-control" id="plot" placeholder="isActive"/>
  </div>
</div>
<div class="form-group">
  <label for="plot" class="col-sm-2 control-label">Page's Published Date</label>
  <div class="col-sm-10">
    <input type="text" ng-model="page.publishedOn" class="form-control" id="plot" placeholder="Page's Published Date"/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>